body{
    overflow-y: scroll;
    background-position: 0 0;
    background-image: url(../img/shattered-island.gif);
    background-repeat: repeat;
    padding-top: 5px;
}

h1, h2, h3{font-family: sans-serif; color: #EDEDED;}
    h3{font-size: 1.5em; }

.caps{text-transform: uppercase;}
.text-center{text-align: center;}

.button .icon{font-size: 1.5em;}

nav ul.side-nav li{border-bottom: 1px solid #ccc; line-height: 30px;}
    nav ul.side-nav li a{font-weight: bold; font-size: 20px; text-decoration: none;}

#action-bar{height: 41px; padding-top: 3px; padding-left: 5px; background-color: #02adea;}
    #action-bar span.icon{padding-top: 3px; font-size: 2.5em; vertical-align: middle; color: #003366;}
    #action-bar img{margin-left: 3px;}
    #action-bar h2{display: inline-block; margin-top: 7px;}

